
<!doctype html>
<html lang="es" class="no-js" itemscope itemtype="http://schema.org/Webpage">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="author" content="UEStudio">
        <meta name="referrer" content="same-origin">

        <!-- Place this data between the <head> tags of your website -->
        <title>{{ pageTitle }} | El Mundo</title>

        <!-- Schema.org markup (Google) -->
        <meta itemprop="name" content="{{ pageTitle }}">
        <meta itemprop="description" content="{{ description }}">
        <meta itemprop="image" content="/assets/img/{{ folder }}/rrss.jpg">

        <!-- Twitter Card markup-->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@uestudio_es">
        <meta name="twitter:title" content="{{ pageTitle }}">
        <meta name="twitter:description" content="{{ description }}">
        <meta name="twitter:creator" content="@uestudio_es">
        <!-- Twitter summary card with large image must be at least 280x150px -->
        <meta name="twitter:image" content="/assets/img/{{ folder }}/rrss.jpg">
        <meta name="twitter:image:alt" content="{{ pageTitle }}">

        <!-- Open Graph markup (Facebook, Pinterest) -->
        <meta property="og:title" content="{{ pageTitle }}">
        <meta property="og:type" content="article">
        <meta property="og:url" content="https://elanfitrionperfecto.elmundo.es/{{ page.fileSlug }}">
        <meta property="og:image" content="/assets/img/{{ folder }}/rrss.jpg">
        <meta property="og:description" content="{{ description }}">
        <meta property="og:site_name" content="{{ pageTitle }}">

        <link rel="canonical" href="https://elanfitrionperfecto.elmundo.es/{{ page.fileSlug }}">

        <link rel="apple-touch-icon" href="/apple-touch-icon.png">

        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;600&display=swap" rel="stylesheet">
        <link href="/assets/css/main.css?v1" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.3/tiny-slider.min.css">

        <!--[if lt IE 9]>
            <script src="http://estaticos.elmundo.es/em/js/html5.js"></script>
        <![endif]-->
            
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.3/tiny-slider.min.js"></script>
        <!-- Analítica -->
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-64259892-53"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-64259892-53', { 'anonymize_ip': true });
        </script> -->
        <script src="//e00-apps-ue.uecdn.es/tms/js/tms-branded.js"></script>
    </head>
    <body class="bg-black font-sans leading-normal tracking-normal">

	<!--Nav-->
	<nav class="bg-secondary p-2 mt-0 fixed w-full z-10 top-0">
        <div class="container mx-auto flex flex-wrap items-center">
		    <div class="flex w-1/2 md:w-1/3 justify-start text-white logo hidden md:block">
				<a class="text-white no-underline hover:text-white hover:no-underline elmundo" href="https://elmundo.es" onclick="envioSC('Anfitrion2020elmundo');gtag('event', 'link', {'event_category': 'elmundo'});">
					<img src="/assets/img/logo-elmundo.svg" alt="El Mundo" style="width:130px">
				</a>
				<a class="text-white no-underline hover:text-white hover:no-underline telva" href="https://www.telva.com/" onclick="envioSC('Anfitrion2020telva');gtag('event', 'link', {'event_category': 'telva'});">
					<img src="/assets/img/logo-telva.svg" alt="Telva" style="width:80px">
				</a>
				<a class="text-white no-underline hover:text-white hover:no-underline yodona" href="https://www.elmundo.es/yodona.html" onclick="envioSC('Anfitrion2020yodona');gtag('event', 'link', {'event_category': 'yodona'});">
					<img src="/assets/img/logo-yodona.svg" alt="Yo Dona" style="width:50px">
				</a>
				<a class="text-white no-underline hover:text-white hover:no-underline fueradeserie" href="https://www.expansion.com/fueradeserie.html" onclick="envioSC('Anfitrion2020fueradeserie');gtag('event', 'link', {'event_category': 'fueradeserie'});">
					<img src="/assets/img/logo-fueradeserie.svg" alt="Fuera de Serie" style="width:140px">
				</a>
            </div>
            <div class="flex w-1/2 md:w-1/3 justify-start text-white text-center">
                <h1 class="uppercase text-center text-black font-bold font-headers w-full text-xl md:text-2xl">
                    <a href="/">El Anfitrión Perfecto</a>
                </h1>
            </div>
			<div class="flex w-1/2 md:w-1/3 pt-2 content-right justify-between md:justify-end">
				<ul class="list-reset flex justify-between ml-auto">
                    <li class="mr-3">
                        <a class="inline-block no-underline rounded-full border border-black" href="https://twitter.com/intent/tweet?url=https%3A%2F%2Felanfitrionperfecto.elmundo.es%2F{{ page.fileSlug }}%3Fcid%3DSMBOSO22801%26s_kw%3DBC-twitter&amp;text={{ pageTitle | url_encode }}&amp;wrap_links=true" target="_blank" rel="nofollow" onclick="gtag('event', 'Social', {'event_category': 'Twitter'});envioEventoRedSocial('twitter');" title="Compártelo en Twitter" itemprop="sameAs">
                            <img src="/assets/img/icon-twitter.svg" alt="Twitter" style="width:30px">
                        </a>
                    </li>
                        <li class="mr-3">
                        <a class="inline-block no-underline rounded-full border border-black" href="https://www.facebook.com/sharer.php?u=https%3A%2F%2Felanfitrionperfecto.elmundo.es%2F{{ page.fileSlug }}%3Fcid%3DSMBOSO22801%26s_kw%3DBC-facebook" target="_blank" rel="nofollow" onclick="gtag('event', 'Social', {'event_category': 'Facebook'});envioEventoRedSocial('facebook');" title="Compártelo en Facebook" itemprop="sameAs">
                            <img src="/assets/img/icon-facebook.svg" alt="Facebook" style="width:30px">
                        </a>
                    </li>
				</ul>
			</div>
        </div>
    </nav>

    <header class="container mx-auto mt-24 md:mt-32 mb-2">
        <h3 class="text-primary uppercase text-center mb-8 md:mb-16 text-xl tracking-widest">
            {{ category }}
        </h3>
        <h1 class="text-center text-white font-headers lg:text-7xl text-6xl">
            {{ pageTitle }}
        </h1>
        <hr class="border-l h-12 border-primary mx-auto my-8 md:my-16" style="width:1px">
        <h2 class="text-white text-center text-xl md:text-2xl md:mx-48 mb-12 md:mb-36">
            {{ subtitle }}
        </h2>
    </header>

    {{ content }}
    
    <footer class="bg-secondary p-2 mt-24 w-full">
        <p class="text-center my-12 logo">
            <a class="elmundo" href="https://elmundo.es" onclick="envioSC('Anfitrion2020elmundo');gtag('event', 'link', {'event_category': 'elmundo'});">
                <img src="/assets/img/logo-elmundo.svg" alt="El Mundo" class="mx-auto" style="width:130px">
            </a>
            <a class="telva" href="https://www.telva.com/" onclick="envioSC('Anfitrion2020telva');gtag('event', 'link', {'event_category': 'telva'});">
                <img src="/assets/img/logo-telva.svg" alt="Telva" class="mx-auto" style="width:80px">
            </a>
            <a class="yodona" href="https://www.elmundo.es/yodona.html" onclick="envioSC('Anfitrion2020yodona');gtag('event', 'link', {'event_category': 'yodona'});">
                <img src="/assets/img/logo-yodona.svg" alt="Yo Dona" class="mx-auto" style="width:50px">
            </a>
            <a class="fueradeserie" href="https://www.expansion.com/fueradeserie.html" onclick="envioSC('Anfitrion2020fueradeserie');gtag('event', 'link', {'event_category': 'fueradeserie'});">
                <img src="/assets/img/logo-fueradeserie.svg" alt="Fuera de Serie" class="mx-auto" style="width:140px">
            </a>
        </p>
        <p class="text-center">
            <a href="/" class="text-white hover:underline">El Anfitrión Perfecto</a> es un proyecto de <a href="http://uestudio.es/" class="text-white hover:underline" target="_blank" onclick="envioSC('Anfitrion2020uestudio');gtag('event', 'link', {'event_category': 'uestudio'});">UE Studio</a> y empresas que buscan hacer esta Navidad más especial que nunca.
        </p>
        <p class="text-center my-5">
            <small>© 2020 Unidad Editorial Información General, S.L.U</small>
        </p>
    </footer>

    <script>TMSBottom();</script>
    
    <script type="text/javascript" language="javascript" src="/assets/js/body.js"></script>

    <script type="text/javascript" language="javascript" src="https://e00-ue.uecdn.es/cookies/js/policy_v3_utf8.js"></script>
    <script type="text/javascript" src="https://sdk.privacy-center.org/loader.js" data-key="03f1af55-a479-4c1f-891a-7481345171ce" id="spcloader" async></script>
    <script type="text/javascript" language="javascript" src="https://e00-ue.uecdn.es/cookies/js/gdpr_dfp.js"></script>
    <script>
        var slider = tns({
            container: '#destacado',
            items: 1,
            slideBy: 'page',
            autoplay: false,
            center: true,
            controlsText: ["<", ">"]
        });

        if(window.location.hash) {
            var hash = window.location.hash.replace('#slide', '');
            slider.goTo(hash - 1);
        }

        var changeURl = function (info) {
            // direct access to info object
            var currentPath = window.location.pathname;
            if(currentPath.substr(-1) === '/') {
                currentPath = currentPath.substr(0, currentPath.length - 1);
            }

            var page = '#slide'+info.displayIndex;
            
            // window.history.pushState('', 'Slide '+info.displayIndex, page);
            window.location = page;
            gtag('config', 'UA-64259892-53', {'page_path': currentPath+page});
            if (window.ueDataLayer) {
                window.ueDataLayer.sendAnalyticsPage();
            }
            if (typeof envioSC !== "undefined") {
                envioSC('ElAnfitrionPerfecto.Slider.'+info.displayIndex);
            }
        }

        // bind function to event
        slider.events.on('indexChanged', changeURl);
    </script>
  </body>
</html>
